  <div id="top-main-menu">
    <div class="username-main-menu" style="float: left;">
      {{#if username}}
          {{username}}
      {{else}}
          <a href="login.html">Log in</a> / <a href="signup.html">Sign up</a>
      {{/if}}
    </div>
    <div class="username-main-menu" style="float: right;">
      {{#if username}}<a style="color:white;" href="/logout">Log out</a>{{/if}}
    </div>
  </div>