<!DOCTYPE html>
<!--
    Copyright 2014 Andrew P. Sillers

    This file is part of Lords of the Fey.

    Lords of the Fey is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Lords of the Fey is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Lords of the Fey.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
<head>
<title>Game list</title>
<link rel="stylesheet" type="text/css" href="/css/gamelist.css" />
<link rel="stylesheet" type="text/css" href="/css/mainmenu.css" />
</head>
<body style="padding:0; margin:0;">
{{> menuheader}}
<h1 style="margin-bottom: 3px;">Your games</h1>
<a href="/">&lt;&lt; Back to main menu</a><br/><br/>

{{#each games}}
  <div class="game-row{{#if isYourTurn}} active-turn{{/if}}"><a href="/client/grid.html?game={{_id}}">
    {{map}}
    [Players:{{#each players}} <span class="username">{{username}}</span>{{/each}}]
    
  </a></div>
{{else}}
You don't have any games. Maybe head down to <a href="/lobby">the lobby</a> and start one?
{{/each}}
</body>
</html>
