<a href="login.html">Log In</a><br>
<a href="signup.html">Sign Up</a><br>
<a href="create">Create Test Game between users <i>hello</i> and <i>goodbye</i></a>
<br><br>
<a href="lobby">Lobby (requires login) (<em>extremely</em> experimental)</a><br>
<a href="/gamelist">Your game list</a>
