<!DOCTYPE html>
<!--
    Copyright 2014 Andrew P. Sillers

    This file is part of Lords of the Fey.

    Lords of the Fey is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Lords of the Fey is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Lords of the Fey.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
<head>
  <title>Lords of the Fey</title>
  <link rel="stylesheet" type="text/css" href="/css/mainmenu.css" />
</head>
<body style="padding:0; margin:0; background-image:url('screenshot.png');">
{{> menuheader}}
<div class="main-content" style="padding: 5px; text-align: center;">
<h1>Lords of the Fey</h1>

<div style="max-width: 800px; margin: 0 auto 25px auto;">Lords of the Fey is an attempt to recreate (something like) <a href="http://wesnoth.org">Battle for Wesnoth</a> for the browser. The game is under development.</div>

{{#if username}}
<div class="option"><a href="lobby" class="option">Lobby (under development)</a></div>
<div class="option"><a href="/gamelist" class="option">Your game list</a></div>
{{else}}
<div class="option"><a href="login.html" class="option">Log In</a></div>
<div class="option"><a href="signup.html" class="option">Sign Up</a></div>
{{/if}}
<div style="max-width: 800px; margin: 15px auto;">Learn more at the <a href="https://github.com/apsillers/lords-of-the-fey">project's GitHub page</a> and <a href="https://github.com/apsillers/lords-of-the-fey/wiki">wiki</a>. Feel free to <strong><a href="https://github.com/apsillers/lords-of-the-fey/issues">open a bug report</a></strong> if you encounter any problems.</div>
<div style="max-width: 800px; margin: 0 auto;">Lords of the Fey is licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</a> (AGPL), meaning that anyone who uses the program over a network must be offered the source code. You can download the source at the <a href="https://github.com/apsillers/lords-of-the-fey">project's GitHub page</a>.</div>
</div>

</body>
</html>
