<!DOCTYPE html>
<!--
    Copyright 2014 Andrew P. Sillers

    This file is part of Lords of the Fey.

    Lords of the Fey is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Lords of the Fey is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Lords of the Fey.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
<head>
  <title>Lords of the Fey</title>
  <link rel="stylesheet" type="text/css" href="/css/mainmenu.css" />
</head>
<body style="padding:0; margin:0;">
  <div id="top-main-menu">
    <div class="username-main-menu" style="float: left;">
      {{#if username}}
          {{username}}
      {{else}}
          <a href="login.html">Log in</a> / <a href="signup.html">Sign up</a>
      {{/if}}
    </div>
    <div class="username-main-menu" style="float: right;">
      {{#if username}}<a style="color:white;" href="/logout">Log out</a>{{/if}}
    </div>
</div>
<div class="main-content" style="padding: 5px; text-align: center;">
<h1>Lords of the Fey</h1>

<div>Lords ot the Fey is an attempt to recreate <a href="http://wesnoth.org">Battle for Wesnoth</a> for the browser.</div>
<div>Learn more the <a href="https://github.com/apsillers/lords-of-the-fey">project's GitHub page</a> and <a href="https://github.com/apsillers/lords-of-the-fey/wiki">wiki</a>.</div>
<br>
{{#if username}}
<a href="lobby">Lobby (<em>extremely</em> experimental)</a><br><br>
<a href="/gamelist">Your game list</a><br><br>
<a href="create">Create Test Game between users <i>hello</i> and <i>goodbye</i></a>
{{else}}
<a href="login.html">Log In</a><br><br>
<a href="signup.html">Sign Up</a><br>
{{/if}}
</div>
<br>
<div>Lords of the Fey is licensed under the GNU Affero General Public License (AGPL), meaning that anyone who interacts with the program over a network must be offered the source code. You can download the source at the <a href="https://github.com/apsillers/lords-of-the-fey">project's GitHub page</a>.</div>
</body>
</html>
