<!DOCTYPE html>
<!--
    Copyright 2014 Andrew P. Sillers

    This file is part of Lords of the Fey.

    Lords of the Fey is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Lords of the Fey is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Lords of the Fey.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
<head>
  <title>Sign up</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
  <link rel="stylesheet" type="text/css" href="/css/mainmenu.css" />
</head>
<body style="margin:0; padding:0;">
{{> menuheader}}
<div class="main-content" style="padding: 5px; text-align: center;">
<form action="/signup" method="post">
<label for="username">Username</label><input name="username" id="username" autofocus="true"><br>
<label for="password">Password</label><input type="password" id="password" name="password"><br>
<label for="passconfirm">Confirm</label><input type="password" id="passconfirm" name="passconfirm"><br>
<input type="submit" value="Sign up">
</form>

{{#if config.facebook.enabled}}<br><a href="/login/facebook">Sign up with Facebook</a>{{/if}}
</div>
</body>
</html>
