.game-row {
    padding: 18px;
    border: thin solid black;
    margin: 5px auto;
    max-width: 800px;
    border-radius: 5px;
    background-color: #DDD;
}

.game-row a {
    text-decoration: none;
}

.game-row.active-turn {
    color: green;
    background-color: #8F8;
    border: thin solid #0F0;
}

.game-row.active-turn:before {
    content: '(!)';
}

.game-row .username {
    border: thin solid #00F;
    background-color: #99F;
    padding: 2px 2px;
    border-radius: 5px;
}

#gamelist-header {
    text-align: center;
}

#nogames {
    text-align: center;
}
