html, body {
    height: 100%;
    margin: 0;
}

div#player-list {
    width: 200px;
    background-color: #000;
    color: #FFF;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 5px;
    padding-left: 10px;
    float: left;
}

#game-list {
    height: 100%;
    width: 500px;
}

#lobby-below-menu {
    height: 500px;
}