/**
    Copyright 2014 Andrew P. Sillers

    This file is part of Lords of the Fey.

    Lords of the Fey is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Lords of the Fey is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Lords of the Fey.  If not, see <http://www.gnu.org/licenses/>.
*/
html, body {
    height: 100%;
    margin: 0;
}

div#player-list {
    width: 200px;
    background-color: #000;
    color: #FFF;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 5px;
    padding-left: 10px;
    float: left;
    margin-right: 10px;
}

#game-list {
    height: 100%;
    width: 500px;
}

#lobby-below-menu {
    height: 500px;
    margin-bottom: 10px;
}

#room-list div {
    cursor: pointer;
    padding: 10px;
}

#room-player-list {
    border-collapse: collapse;
    width: 75%;
}

#room-player-list td, select, input, #create-dialog {
    font-size: 20px;
    font-family: sans-serif;
}
#room-player-list td {
    padding: 0px 5px;
    height: 50px;
    text-align: center;
}
#room-player-list th {
    height: 50px;
}
#room-player-list tr {
    border-bottom: thin solid black;
}
select, button {
    padding: 5px;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
    margin-right: 7px;
}

