/**
    Copyright 2014 Andrew P. Sillers

    This file is part of Lords of the Fey.

    Lords of the Fey is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Lords of the Fey is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Lords of the Fey.  If not, see <http://www.gnu.org/licenses/>.
*/
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
      background-color: black;
}

div.top-status {
    float: left;
    width: 60px;
    height: 16px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0px 2px 6px 2px;
    margin: 5px 3px;
    font-size: 12px;
}

div#right-column {
    width:125px;
    height: 450px;
    background-color:#999999; 
    border: thin black solid;
    border-left: none;
    border-bottom: none;
    padding:10px;
    float: right;
    position: relative;
}

div.top-status img {
    position: relative;
    top: 3px;
}

#end-turn-button {
    position: absolute;
    bottom: 0;
    font-size: 13pt;
    width: 125px;
}

div.recruit-item {
    margin-bottom: 2px;
    background-color: #CCC;
    height: 72px;
}

div.recruit-item img {
    float: left;
}

div.recruit-item.selected {
    background-color: #CCF;
}

div.attack-item {
    text-align:center;
    padding: 3px;
    margin: 2px;
    background-color: #555;
    height: 60px;
    color: #FFF;
}

div.attack-item.selected {
    background-color: #66D;
}

.translucent {
    filter:alpha(opacity=60); 
    -moz-opacity: 0.6; 
    opacity: 0.6; 
}

#loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: #000;
    text-align: center;
    font-size: 20pt;
    z-index: 100;
}

#loading-overlay > div {
    padding-top: 50px;
}

#loading-overlay .big {
    font-size: 40px;
}

#loading-overlay progress {
    margin-top: 10px;
    width: 400px;
}

#loading-overlay #load-text {
    margin-top: 20px;
}

