  body {
    padding: 0;
    margin: 0;
  }

  canvas {
      background-color: black;
  }

  div.top-status {
    float: left;
    width: 60px;
    height: 16px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0px 2px 6px 2px;
    margin: 5px 3px;
    font-size: 12px;
  }

  div#right-column {
      width:200px;
      height: 400px;
      background-color:#999999; 
      border: thin black solid;
      border-left: none;
      border-bottom: none;
      padding:10px;
      float: right;
      position: relative;
  }

  div.top-status img {
      position: relative;
      top: 3px;
  }

  #end-turn-button {
      position: absolute;
      bottom: 0;
      font-size: 15pt;
      width: 200px;
  }

  .upper-tile {

  }

  .unit {
    position: absolute;
  }

  #cursor {
    position: absolute;
  }

  .translucent {
    filter:alpha(opacity=60); 
    -moz-opacity: 0.6; 
    opacity: 0.6; 
  }

  .tilesize {
    height: 72px;
    width: 72px;
  }

  #battlefield {

  }
